.d-flex{
    justify-content: center;
}

.form-group{
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

table {
    width: 96%;
    position: absolute;
           top: 350px;;
           bottom: 0;
           left: 10px;
           right: 0;
  }
  