<nav class="navbar navbar-expand-lg navbar-light" style="background-color:lightgray;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Flight Booking App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link" 
          routerLink="/booking-ticket" routerLinkActive="active">Book Ticket</a>
          <a class="nav-link" 
            routerLink="/manage-booking" routerLinkActive="active">Manage Booking</a>
          <!-- <a class="nav-link"
            routerLink="/booking-history" routerLinkActive="active">Booking History</a>          -->
        </div>
  
      </div>
      <ul class="nav justify-content-end">
        <li class="nav-item" >
          <span class="badge bg-secondary m-2 p-1">Welcome User</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="logoutClicked()">Logout</a>
        </li>
       
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>